In [38]:
import sys
import pandas as pd
import sqlite3 as sql3
import psycopg2
import sqlalchemy
from sqlalchemy import engine

In [5]:
############################################# Connect to sqlite database

In [46]:
try:
    c = sql3.connect('database.sqlite')
    print("Yeah I'm here")
except sql3.Error as f:
    print(f"Connection failed: {f}")

Yeah I'm here

In [ ]:
############################################# Get a list of tables

In [40]:
query = """
SELECT name
FROM sqlite_master
WHERE type = 'table';"""
df = pd.read_sql(query,c)
display (df)

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [ ]:
############################################# Get the data types

In [28]:
table_name = 'Player_Attributes'
query = f"PRAGMA table_info({table_name})"
df = pd.read_sql(query,c)
display (df)

    cid                 name     type  notnull dflt_value  pk
0     0                   id  INTEGER        0       None   1
1     1   player_fifa_api_id  INTEGER        0       None   0
2     2        player_api_id  INTEGER        0       None   0
3     3                 date     TEXT        0       None   0
4     4       overall_rating  INTEGER        0       None   0
5     5            potential  INTEGER        0       None   0
6     6       preferred_foot     TEXT        0       None   0
7     7  attacking_work_rate     TEXT        0       None   0
8     8  defensive_work_rate     TEXT        0       None   0
9     9             crossing  INTEGER        0       None   0
10   10            finishing  INTEGER        0       None   0
11   11     heading_accuracy  INTEGER        0       None   0
12   12        short_passing  INTEGER        0       None   0
13   13              volleys  INTEGER        0       None   0
14   14            dribbling  INTEGER        0       None   0
15   15                curve  INTEGER        0       None   0
16   16   free_kick_accuracy  INTEGER        0       None   0
17   17         long_passing  INTEGER        0       None   0
18   18         ball_control  INTEGER        0       None   0
19   19         acceleration  INTEGER        0       None   0
20   20         sprint_speed  INTEGER        0       None   0
21   21              agility  INTEGER        0       None   0
22   22            reactions  INTEGER        0       None   0
23   23              balance  INTEGER        0       None   0
24   24           shot_power  INTEGER        0       None   0
25   25              jumping  INTEGER        0       None   0
26   26              stamina  INTEGER        0       None   0
27   27             strength  INTEGER        0       None   0
28   28           long_shots  INTEGER        0       None   0
29   29           aggression  INTEGER        0       None   0
30   30        interceptions  INTEGER        0       None   0
31   31          positioning  INTEGER        0       None   0
32   32               vision  INTEGER        0       None   0
33   33            penalties  INTEGER        0       None   0
34   34              marking  INTEGER        0       None   0
35   35      standing_tackle  INTEGER        0       None   0
36   36       sliding_tackle  INTEGER        0       None   0
37   37            gk_diving  INTEGER        0       None   0
38   38          gk_handling  INTEGER        0       None   0
39   39           gk_kicking  INTEGER        0       None   0
40   40       gk_positioning  INTEGER        0       None   0
41   41          gk_reflexes  INTEGER        0       None   0

In [ ]:
############################################# Export table data types to .csv

In [31]:
df.to_csv('table_name.csv',index=False)
print("Done, check file")

Done, check file

In [ ]:
############################################# Set-up to export table values to .csv

In [34]:
query = """
SELECT *
FROM Player_Attributes;"""
df = pd.read_sql(query,c)
display (df)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [ ]:
############################################# Export table values to .csv

In [35]:
df.to_csv('Players_Attributes.csv',index=False)
print("Done, check file")

Done, check file

In [ ]:
############################################# Done.